<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Liste des employes
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th> Nom</th>
            <th> Poste</th>
            <th> Age</th>
            <th> Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employes">
            <td>{{emp.nom}}</td>
            <td>{{emp.poste}}</td>
            <td>{{emp.age}}</td>
            <td> <button class="btn btn-default">Supprimer  </button> </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
</div>